<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="ProductSettings" type="ConfigurationExample.ProductSettings"/>
  </configSections>

  <ProductSettings>
    <DellSettings ProductNumber="20001" ProductName="Dell Inspiron" Color="
Black" Warranty="2 Years" ></DellSettings>
  </ProductSettings>

</configuration>